html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

/*
- *Typefaces:* `Patua One`, `Georgia`
- *Text sizes:* `2rem`
- *Line-heights:* `1.5`
- *Colours:* `#fff`, `#f2f1ed`, `#30658d`, `#000`
- *Gaps:* `1rem`
- *Margins:* `1rem`
- *Paddings:* `1rem`
- *Logo width:* `14rem` */

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1.5rem;
  grid-template-areas:
    "banner banner"
    "col1 col2";
  gap: 1rem;
}

.logo {
  width: 14rem;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  z-index: 1;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.pano {
  grid-area: banner;
}

nav {
  grid-column: 2;
  grid-row: 1;
}

nav ul {
  list-style-type: none;
  text-decoration: none;
  margin: 1rem;

  display: flex;
  justify-content: space-around;
  height: 100%;
}

a {
  color: #fff;
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
}

/* grid-template-columns: 1fr 1fr; */
/* grid-template-rows: 1fr; */
/* grid-template-columns: repeat(2, 1fr); */
/* grid-template-rows: repeat (10, 1fr); */
/* grid-gap: 1em; */
/* grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr)) */
/* grid-column: 1 / 2; */
/* grid-row: 2 / 2; */
/* margin: 0; */
/* padding: 0; */
/* display: flex; */
/* flex-direction: column; */
/* justify-content: space-between; */

main {
  display: grid;
  grid-template-columns: 20rem 2fr;
}

h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
  margin: 0;
}

p {
  margin: 0 0 1.5rem;
}

figcaption {
  padding: 0;
  margin: 1rem;
  margin-left: 0;
}

/* display: grid; */
/* justify-content: space-between; */

figure {
  margin: 0;
  grid-column: 1 / span 2;
  display: grid;
  gap: 1rem;
}

figure h2 {
  margin-bottom: 0;
}
