html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

/*
- *Typefaces:* `Patua One`, `Georgia`
- *Text sizes:* `2rem`
- *Line-heights:* `1.5`
- *Colours:* `#fff`, `#f2f1ed`, `#30658d`, `#000`
- *Gaps:* `1rem`
- *Margins:* `1rem`
- *Paddings:* `1rem`
- *Logo width:* `14rem` */

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "banner banner"
  "col1 col2";
  gap: 1rem;
}
